* {
  outline: none!important;
}
html {
  scroll-behavior: smooth;
}
body
{
  margin: 0 auto;
  padding: 0 auto;
}
a {
  text-decoration: none;
}

.header .logo
{
  margin-left: 100px;
  display: inline;
}
.nav-item > a
{
  font-size: 18px;
  padding-bottom: 5px;
  transition: 0.5s;
  margin-right: 30px;
}
.partner > a
{
  position: relative;
  z-index: 1;
  min-width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.1);
  background: red;
  color: white!important;
  text-decoration: none;
}
.partner a:hover {
  color: white;
  text-decoration: none;
}
.sign
{
  align-self: auto;
  margin-top: 48px;
}
.sign_in_nav
{
  display: none;
}

#search_block
{
  max-height: 500px;
  height: 300px;
  background-color: #1583e9;
}

#search_block h3
{
  color: white;
  font-family: 'walsheim-medium,sans-serif';
}

#search_block input
{
  border: none;
  border-radius: 30px 30px 30px 30px;
  height: 50px;
  margin-top: 20px;
  padding: 25px;
  color:  grey;
}

#search_block button
{
  border: none;
  border-radius: 60%;
  height: 50px;
  width:  50px;
  background: white url('../images/search-icon.png');
  margin-left: 10px;
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  top: 18px;
}

#steps_block
{
  margin-top: 50px;
}

.step-text, .step-text1
{
  margin-top: 50px;
  margin-bottom: 50px;
}

.step-text span
{
  width: 92%;
  display: inline-block;
  margin-left: 5%;
}
.step-img, .step-img1
{
  display: flex;
  flex-direction: column;
}

.steps_block1 {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
}

.single-step > .single-step-1-icon
{
  background: url('https://cdn4.iconfinder.com/data/icons/technology-83/1000/focus_focus_selector_selected_selector_select_target_selection-512.png') no-repeat center;
  background-size: 150px 150px;
  padding: 100px;
}

.single-step > .single-step-2-icon
{
  background: url('https://cdn4.iconfinder.com/data/icons/technology-83/1000/back-end_backward_programming_back_back_end_end_development-512.png') no-repeat center;
  background-size: 150px 150px;
  padding: 100px;
}

.single-step-3-icon, .single-step-4-icon
{
  background: url('https://cdn4.iconfinder.com/data/icons/technology-83/1000/group_growth_product_growth_hacking_growth_graph_business_growth_hacking-512.png') no-repeat center;
  background-size: 150px 150px;
  padding: 100px;
}

.single-step-4-icon
{
  background: url('https://cdn4.iconfinder.com/data/icons/technology-83/1000/object_programming_development_oriented_developer_object-oriented_programming_software-512.png') no-repeat center;
  background-size: 150px 150px;
  padding: 100px;
}

.single-step h5
{
  text-align: center;
}

#providing
{
  margin-top: 50px;
}

#categories div a 
{
  text-decoration: none;
  color: black;
}

#categories .row .alone_category
{
  margin: 25px;
  float: left;
  border-bottom: 2px solid white;
}

#categories .row .alone_category img
{
  width: 80px;
  margin-left: 10px;
}

.category_text
{
  margin-top: 10px;
  width: 100px;
  text-align: center;
}

#templates
{
  width:auto;
  margin-top: 30px;
}

.templates-items
{
  width: auto;
  margin-left: 15px;
}

.templates_items > div
{
  margin-left: 100px!important;
}

.single_template_block
{
  margin-top: 30px;
}

.template_img
{
  margin-left: 5%;
  width: 350px!important;

}

.template_img img
{
  width: 350px!important;
}

.template_buttons {
  width: 90%;
  margin-top: 15px;
  margin-left: 12%;
}

.details_btn
{
  transition: 0.5s;
  width: 30%;
  display: inline-block;
  padding: 10px;
  border: white;
  color: #637083;
  border: 1px solid #c8cfd5;
  text-align: center;
  margin-left: 18px;
  font-family: Ubuntu,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 3px solid #c8cfd5;
}

.demo_btn
{
  transition: 0.5s;
  width: 30%;
  display: inline-block;
  padding: 10px;
  border: white;
  color: white;
  background: #1373ea;
  border: 1px solid #00aeef;
  border-bottom: 3px solid #c8cfd5;
  text-align: center;
  margin-left: 40px;
  font-family: Ubuntu,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.details_btn:hover 
{
  transition: 0.5s;
  color: #231f20;
  text-decoration: none;
}

.demo_btn:hover 
{
  transition: 0.5s;
  color: #ffffff;
  background-color: #0b53b4;
  text-decoration: none;
}

#blog 
{
  margin-top: 50px;
}

#footer
{
  margin-top: 65px;
  background: #231f20;
}

.footer
{
  color: white;
  padding-top: 15px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 576px) {
  .sign {
    display: none!important;
  }
  .sign_in_nav
  {
    padding: .5rem 0rem;
    color: #037cff;
    display: block;
  }

  #search_form button
  {
    border-radius: 30px 30px 30px 30px;
    width: 90%;
    margin-top: 15px;
    margin-left:0;
    padding: 0;
  }

}
 
.contact-box 
{
  /*background: url('../images/content_bg.jpg');*/
}

.contact-header
{
  text-align: center;
  /*padding-top: 30px;*/
  padding-bottom: 50px;
}

#contact_name, #contact_email, #contact_subject, #contact_message, #contact_name:focus, #contact_email:focus, #contact_subject:focus, #contact_message:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #1583e9;
  border-radius: 0;
}

#contact_message {
  height: 146px;
}
/*
.contact_send {
  border: none;
  border-bottom: 2px solid #1583e9;
  width: 50%;
  /*background: #1583e9;*/
  /*color: white;*/
/*}*/
.contact-send-icon {
  width:50px;
  height: 50px;
  float: left;
}

section{
    padding: 100px 0;
}
/*.details-card {
  background: #ecf0f1;
}
*/
/*.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}*/
.blog-content {
  margin-top: 50px;
}

.blog-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.blog-img img {
  width: 100%;
  height: auto;
  display: block;
}

.blog-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1ABC9C;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%,-50%);
}
.blog-img span h4{
  font-size: 12px;
  margin:0;
  padding:10px 5px;
  line-height: 0;
}
.blog-desc {
  padding: 1.25rem;
}

.blog-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.blog-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.btn-blog{
  background-color: #1ABC9C;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-blog:hover {
  background: orange;
  text-decoration: none;
  color: white;
}
a.btn-blog {
  text-decoration: none;
  color: #fff;
}



@-moz-document url-prefix() {
  #search_block button
  {
    top: -4px;
  }
  #contact_name, #contact_email, #contact_subject, #contact_message, #contact_name:focus, #contact_email:focus, #contact_subject:focus, #contact_message:focus {
    outline: none;
  }
}

