@media all  and (max-width: 1024px) {
    .hamburger-menu {
        opacity: 1;
        visibility: visible;
        display: inline-block;
    }

    .navigation {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .nav-checkbox:checked + .hamburger-menu .navigation {
        opacity: 1;
        visibility: visible;
        display: inline-block;
        transform: rotate(180deg);
        position: absolute;
        bottom: 12%;
        right: 5%;
    }

    .nav-button {
        margin-left: 144px;
    }

    .nav-title {
        font-family: 'Nunito', sans-serif;
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: #707070;
        width: 40%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .nav-title li {
        margin: 5px 0;
    }

    .top-container-title {
        margin-left: 20px;
        margin-top: 20px;
    }

    .information-box {
        order: 2;
    }

    .information {
        order: 1;
    }

    .svg {
        height: 20px;
    }

    .nav-button {
        margin-bottom: 5px;
        padding: 10px;
    }

    .inp-content-svg {
        position: absolute;
        top: 30%;
        height: 60%;
        right: 83%;
        z-index: 1;
        width: 5%;
        transform: translate(-50%, -50%);
        min-width: 30px;
    }
}

@media all  and (max-width: 768px) {
    .inp-content-svg {
        position: absolute;
        top: 30%;
        height: 60%;
        right: 77%;
        z-index: 1;
        width: 5%;
        transform: translate(-50%, -50%);
        min-width: 30px;
    }
}

@media all  and (max-width: 760px) {
    .navigation {
        width: 80%;
    }

    .nav-container {
        width: 90%;
    }

    .nav-box {
        width: 100%;
    }

    .reg-box {
        margin: 5px 0;
        width: 75%;
    }

    .nav-button {
        margin: 0 auto;
    }

    .information-box {
        flex-wrap: wrap;
        order: 1;
    }

    .information {
        order: 2;
        min-width: 270px;
    }

    .information-title {
        text-align: center;
    }

    .register-img {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@media all  and (max-width: 720px) {
    .reg-box {
        width: 70%;
        margin-right: 40px;
    }

    .top-container-title {
        text-align: center;
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .top-container-img {
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    .box-register {
        min-width: 200px;
        padding: 60px;
        margin-right: 60px;
    }

    .inp-content-svg {
        position: absolute;
        top: 30%;
        height: 60%;
        right: 70%;
        z-index: 1;
        width: 5%;
        transform: translate(-50%, -50%);
        min-width: 25px;
    }

    .become-img {
        width: 100%;
        min-width: 200px;
        padding: 60px;
    }
}