* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url('font/Nunito-Light.eot');
    src: url('font/Nunito-Light.eot?#iefix') format('embedded-opentype'),
    url('font/Nunito-Light.woff2') format('woff2'),
    url('font/Nunito-Light.woff') format('woff'),
    url('font/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('font/Nunito-BoldItalic.eot');
    src: url('font/Nunito-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('font/Nunito-BoldItalic.woff2') format('woff2'),
    url('font/Nunito-BoldItalic.woff') format('woff'),
    url('font/Nunito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

a {
    text-decoration: none;

}


header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: white;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-logo {
    width: 6%;
    min-width: 50px;

}

.logo {
    width: 100%;
}

.nav-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
}

.navigation {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-family: 'Nunito', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #707070;
    width: 40%;
}

.nav-title a {
    color: #707070;
}

.nav-button {
    text-align: center;
    background: red;
    padding: 15px;
    border-radius: 45px;
    width: 30%;
    min-width: 200px;
}

.nav-button a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.nav-box {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sec {
    padding-top: 100px;
}

.reg-box-svg {
    display: contents;
}

.reg-box {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.sign {
    margin: 0 10px;
}

.reg-box a {
    font-family: 'Nunito', sans-serif;
    color: #006794;
    margin: 0 5px;
}

.svg {
    fill: #006794;
}
.nav-checkbox{
    display: none;
}
.hamburger-menu{
    transform: rotate(180deg);
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 50%;
    cursor: pointer;
    position: relative;
    min-width: 290px;
}
.menu-line{
    transition: all .5s;
    background: #707070;
    height: 3px;
    width: 6%;
    display: block;
    margin: 5px 0;
    min-width: 25px;
}
.menu-navigation{
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    width: 2%;
    position: absolute;
    bottom: 0;
    left: -11%;
    background: white;
    box-shadow: 2px -5px 5px -1px #c4c4c4;
    height: 280px;
    z-index: -1;
}
.nav-checkbox:checked +.hamburger-menu .menu-navigation{
    transition: all .5s;
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.nav-checkbox:checked +.hamburger-menu .menu-line.active1{
    transition: all .5s;
    transform: rotate(35deg);
}
.nav-checkbox:checked +.hamburger-menu .menu-line.active2{
    transition: all .5s;
    transform: rotate(-35deg);
}

/*main end*/
.top-information-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.top-information-text{
    width: 50%;
    padding: 5px;
    min-width: 300px;
    margin: 0 auto;
}
.top-information-img{
    width: 48%;
    padding: 5px;
    min-width: 300px;
    margin: 0 auto;
}
.top-information-img img{
    width: 100%;
}
.top-information-text p{
    font-family: 'Nunito', sans-serif;
    color: #707070;
    font-weight: 300;
    font-style: italic;
    margin: 10px auto;
}
.top-text-one{
    color: red;
}
.top {
    background: #006794;
    height: 40vh;
    position: relative;
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
}

.top-container-img {
    width: 35%;
    border-radius: 55px;
    transform: rotate(-12deg);
    background: white;
    min-width: 190px;
}

.top-container-img img {
    width: 65%;
    display: flex;
    margin: 0 auto;
    transform: translate(-13px, 0px);
}

.top-container-title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.title {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #707070;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 70px auto;
}

.information-container {
    width: 70%;
    margin: 0 auto;
}

.information-box {
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
}

.information {
    width: 70%;
    line-height: 45px;
    margin: 0 auto;
}

.information-img-box {
    width: 20%;
    min-width: 200px;
    margin: 0 auto;
}

.information-img-box img {
    width: 100%;
}

.information-title {
    font-size: 25px;
    color: #707070;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.information-text {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: #707070;
}

.title2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #707070;
    font-size: 35px;
    letter-spacing: 2px;
    margin: 70px auto;
}

.img-container {
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.img-box {
    width: 55%;
    margin: 0 auto;
}

.img-box img {
    width: 100%;
}

.img-content {
    width: 18%;
    text-align: center;
    margin: 0 auto;
    min-width: 180px;
}

.img-text {
    font-family: 'Nunito', sans-serif;
    color: #88b337;
}

.img-text-name {
    font-family: 'Nunito', sans-serif;
    color: #0a8bfc;
}

.img-text2 {
    font-family: 'Nunito', sans-serif;
    color: #ef8318;
}

.img-text-name2 {
    font-family: 'Nunito', sans-serif;
    color: #707070;
}

.img-text3 {
    font-family: 'Nunito', sans-serif;
    color: #ffc400;
}

.img-text4 {
    font-family: 'Nunito', sans-serif;
    color: #707070;
}

.img-text5 {
    font-family: 'Nunito', sans-serif;
    color: #28384c;
}

.img-text-name3 {
    font-family: 'Nunito', sans-serif;
    color: #006794;
}

.our-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.our-box {
    width: 30%;
    min-width: 300px;
}

.our-img {
    position: relative;
    overflow: hidden;
}
.our-img img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.our-img::before {
    z-index: 1;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    content: "Heading";
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: white;
}

.our-img img {
    width: 100%;
    transition: all 1s;
}

.our-title {
    font-family: 'Nunito', sans-serif;
    color: #707070;
    font-weight: bold;
    margin: 10px 0;
}

.our-text {
    font-family: 'Nunito', sans-serif;
    color: #707070;
    font-weight: bold;
}

.our-next {
    display: inline-flex;
    margin: 10px 0;
    font-weight: bold;
}

.our-next a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #ef8318;
}

.our-next svg {
    fill: #ef8318;
    margin-left: 10px;
}
.subscribe-box{
    border: 1px solid;
    width: 60%;
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
}
.subscribe-content{
    margin: 0 auto;
    width: 40%;
    padding: 10px;
    min-width: 200px;
}
.subscribe-img{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    min-width: 200px;
}
.subscribe-img img {
    width: 100%;
}
.subscribe-log{
    display: block;
    margin: 10px auto;
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    width: 80%;
}
.subscribe-sub{
    padding: 10px 25px;
    background: #006794;
    outline: none;
    border-radius: 10px;
    border: 1px solid;
    color: white;
    cursor: pointer;
}
.subscribe-title{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #006794;
}
.subscribe-subtitle{
    font-family: 'Nunito', sans-serif;
    color: #707070;
    font-size: 25px;
}
/*become*/
.become-container{
    padding-top: 100px;
}
.become-title-box{
    text-align: center;
}
.become-title{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
}
.box-register{
    width: 35%;
}
.become-text{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #707070;
    width: 38%;
    margin: 0 auto;
    min-width: 290px;
}
.inp-content{
    position: relative;
    text-align: center;
}
.inp-content-svg{
    position: absolute;
    top: 30%;
    height: 60%;
    right: 89%;
    z-index: 1;
    width: 5%;
    transform: translate(-50%, -50%);
}
.inp{
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    opacity: 0.9;
    outline: none;
    border-bottom: 1px solid;
    padding-left: 40px;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    margin: 15px;
}

.sub{
    font-family: 'Nunito', sans-serif;
    color: #707070;;
    background: white;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    cursor: pointer;
    padding: 5px 45px;
    letter-spacing: 3px;
    font-size: 20px;
    border-bottom: 1px solid;
    margin-left: 35px;
}
.become-img{
    width: 50%;
}
.become-img img{
    width: 100%;
}
.become-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
/*become end*/